<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Acelaya_CursoCTA::hola" title="Hola products" module="Acelaya_CursoCTA" sortOrder="51"
             action="catalog/product/index" resource="Magento_Catalog::catalog"/>
    </menu>
</config>
